<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lejehistorik</title>
    <!-- Tilføj CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Lejehistorik</h1>
        <ul>
            {% for rental in rentals %}
            <li>{{ rental.name }} ({{ rental.category }}) - Lejeperiode: {{ rental.rental_period }}</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('dashboard') }}" class="button">Tilbage til Dashboard</a>
    </div>
</body>
</html>
